# ----------------------------
# Python Cache
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/
env/

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Machine Learning Models
# ----------------------------
ml/saved_models/*.pkl

# ----------------------------
# Jupyter Notebook Checkpoints
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDE Files
# ----------------------------
.idea/
.vscode/

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# Data Dumps
# ----------------------------
ml/data/sql_dump/
*.csv

# ----------------------------
# Test Cache
# ----------------------------
.pytest_cache/

# ----------------------------
# Build Files
# ----------------------------
dist/
build/
*.egg-info/

# ----------------------------
# SQLite
# ----------------------------
*.sqlite3

# ----------------------------
# Temporary Files
# ----------------------------
*.tmp
*.swp